/* Wrapper */
.audio-track-library {
    max-width: 100% !important;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 1rem;
    border-radius: 5px;
    min-height: calc(100vh - 100px);
}

@media (min-width: 1025px) {
    .audio-track-library {
        grid-template-columns: repeat(2, 1fr);
        padding: 1.5rem;
    }
}

/* tabs */
.audio-track-library__tabs-wrapper {
    display: none;
}

@media (min-width: 1025px) {
    .audio-track-library__tabs-wrapper {
        display: block;
    }
}

.audio-track-library__tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.audio-track-library__tab-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: var(--sound_bank_button_background_color);
    color: var(--sound_bank_button_text_color);
}

.audio-track-library__tab-button.active {
    background: var(--sound_bank_button_background_color_active);
    color: var(--sound_bank_button_text_color_active);
}

/* Content */
.audio-track-library__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Content Title */
.audio-track-library__content .music-player__title {
    display: none;
}

/* Player */
.audio-track-library__content .music-player {
    padding: 0;
    background: transparent !important;
}

.audio-track-library__content .music-player:not(.active) {
    display: none;
}

.audio-track-library__content  .music-player__playlist {
    height: calc(100dh - 200px);
    max-height: calc(100dh - 200px);
}

@media (min-width: 1025px) {
    .audio-track-library__content  .music-player__playlist {
        height: auto;
        max-height: none;
        overflow: visible;
    }
}

/* Accordion Button */
.audio-track-library__content-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: var(--sound_bank_button_background_color);
    color: var(--sound_bank_button_text_color);
}

.audio-track-library__content-button.active {
    background: var(--sound_bank_button_background_color_active);
    color: var(--sound_bank_button_text_color_active);
}

@media (min-width: 1025px) {
    .audio-track-library__content .audio-track-library__content-button {
        display: none;
    }
}

/* Loading */
@media (min-width: 1025px) {
    .audio-track-library__content {
        height: calc(100vh - 100px);
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
}